/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: #FFF;
  /*background: #f0fcff;*/
  /*font: 13.34px Helvetica, Arial, sans-serif;*/
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 62.5%;
}

a {
  transition: color .25s;
  -webkit-transition: color .25s;
}

@media screen and (max-width : 650px) {

  .header .container {
    width: auto;
    height: auto;
    text-align: center;
  }

  .header ul.social {
    display: none;
  }

  .header ul.menu {
    font-size: 20px;
    margin-top: 15px;
  }

  .header ul.menu li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: ;
  }

  .container {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  .content .byline {
    margin-top: 8%;
  }

  .footer {
    margin-top: 75px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #eeeeee;
  }
}

@media screen and (min-width: 650px) {
  
  .header .container {
    width: 720px;
    margin: 0 auto;
  }

  .container {
    width: 720px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .header ul.menu {
    font-size: 16px;
    margin: 5px 0;
  }

  .header ul.menu li {
    padding-right: 15px;
  }

  .content div#post {
    margin-top: 15px;
  }

  .footer {
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 160px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #eeeeee;
  }

}

/*color: #77cc6d; - light green*/
/*color: #f0fcff; - light blue*/

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  padding: 0;
  background: #2d3538;
  color: white;
}

.header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.header section.name {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.header section.name a {
  color: white;
  text-decoration: none;
}

.header section.name a:hover {
  color: #53994b;
}

.header ul.menu {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #acb3b5;
}

.header ul.menu li {
  display: inline;
}

.header ul.social {
  /*margin: -25px 0 0 0;*/
  padding: 0;
  padding-top: 2px;
  /*float: right;*/
}

.header ul.social li {
  display: inline
}

.header ul.social li a {
  color: white;
  text-decoration: none;
}

.header ul.social li a:hover {
  color: #53994b;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
}

ul.posts li {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #eeeeee;
  padding-top: 15px;
  padding-bottom: 10px;
}

ul.posts li a {
  color: #444;
  /*color: #53994b;*/
  transition: color .25s;
  -webkit-transition: color .25s;
}

ul.posts li a:hover {
  color: #53994b;
}

ul.posts span.date {
  padding-top: 7px;
  float: right;
  color: #444;
  /*color: #acb3b5;*/
  font-size: 12px;
  font-weight: normal;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 170%;
  margin: 15px 0;
}

.byline {
  /*border-left: 4px solid #aaa;*/
  /*padding-left: 10px;*/
}

.byline h1 {
  font-size: 32px;
  padding-top: 5px;
  color: #444;
}

.byline span.date {
  font-size: 18px;
  color: #acb3b5;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  border-top: 1px solid #ddd;
  text-align: center;
  color: #eeeeee;
}

/*****************************************************************************/
/*
/* Code Snippets
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 14px;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}