/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: #FFF;
  /*background: #f0fcff;*/
  /*font: 13.34px Helvetica, Arial, sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

span {
  color: rgba(0,0,0,0.6);
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  margin: 0;
  padding: 0;
  background: #2d3538;
  color: white;
}

.header .container {
  width: 650px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.header section.name {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.header ul.menu {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  color: #acb3b5;
}

.header ul.menu li {
  display: inline;
  padding-right: 15px;
}

.header ul.social {
  /*margin: -25px 0 0 0;*/
  padding: 0;
  padding-top: 2px;
  /*float: right;*/
}

.header ul.social li {
  display: inline
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.container {
  width: 650px;
  margin: 0 auto;
}

ul.posts {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
}

ul.posts li {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  border-bottom: 1px solid #eeeeee;
  padding-top: 15px;
  padding-bottom: 10px;
}

ul.posts li a {
  color: #444;
  /*color: #53994b;*/
}

ul.posts span.date {
  padding-top: 7px;
  float: right;
  color: #444;
  /*color: #acb3b5;*/
  font-size: 12px;
  font-weight: normal;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

p {
  font-size: 20px;
  line-height: 160%;
  margin: 25px 0;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  width: 650px;
  /*width: 720px;*/
  margin-top: 75px;
  margin-left: auto;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  padding-top: 30px;
  padding-bottom: 160px;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #eeeeee;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}