---
---
$base-color: #424242;
$link-color: #df2050;
$break: 48em;

*,
*:after,
*:before { box-sizing: border-box; }

html,
body { height: 100%; }

body {
  padding-right: 1em;
  padding-left: 1em;
  font-family: "freight-text-pro", Georgia, "serif";
  font-size: 18px;
  font-weight: normal;
  line-height: 165%;
  color: $base-color;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 42rem;
  min-height: 300px;
  margin: 0 auto;
}

* + * { margin-top: 1rem; }

h1,
h2,
h3,
h4 { font-family: "proxima-nova", "Helvetica", "sans-serif"; }

h1 { font-size: 2rem;   }
h2 { font-size: 1.7rem;	}
h3 { font-size: 1.2rem;	}
h4 { font-size: 1rem;   }

p {
  margin: 0 0 1.25rem;
  font-size: 1.2rem;

  + h1,
	+ h2,
	+ h3,
	+ h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  > code {
    padding: 0.2em;
    color: $link-color;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
}


a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    color: $link-color;
    box-shadow: 0 2px $link-color;
  }
}

img {
  width: 100%;
  display: block;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43),
              0 5px 9px rgba(0, 0, 0, 0.4);
}

code {
  padding: 1em 2em;
  font-family: "Menlo",Inconsolata,"Fira Mono","Source Code Pro",monospace;
  font-size: 0.8rem;
  line-height: 175%;
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2rem;
  font-size: 12px;

  @media (min-width: 42rem) {
    font-size: 16px;
  }
}

tr:nth-of-type(even) { background: #eee; }

th,
td {
  padding: 0.5rem;
  line-height: 1.42857143;
  text-align: left;
}

th {
  vertical-align: bottom;
}

thead > tr > th { border-bottom: 2px solid #ddd; }
tbody > tr > td { border-top: 1px solid #ddd; }

header {
  .site-header {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h3,
	h4,
	nav { display: inline-block; }

  a {
    margin-right: 6px;
    margin-left: 6px;
    color: $base-color;
  }
}

aside {
  $color: lighten($base-color, 10);

  padding: 0.5em 1.25em;
  margin-bottom: 1em;
  font-weight: 700;
  color: $color;
  box-shadow: inset 0.5em 0 $color;

  > p { margin-bottom: 0; }
}

.posts {
  padding-left: 0;
  list-style: none;

  .post {
    padding-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;

    + .post { margin-top: 2.2em; }
  }

  .post-title {
    margin-bottom: 0;
    font-size: 1.3em;

    a {
      color: $base-color;
      text-decoration: none;

      &:hover { color: $link-color; }
		}

    .date {
      float: right;
      margin-top: 0;
      font-size: 0.8rem;
      font-weight: 600;
      color: lighten($base-color, 30);

      @media screen and (max-width: $break) { display: none; }
    }
  }

  .post-excerpt { margin-top: 0.7rem; }
}

.date {
  display: inline-block;
  color: lighten($base-color, 40);
}

.twitter-share-button {
  margin-top: 1.5rem;
  float: right;
}
