---
---
$base-color: #424242;
$link-color: #DF2050;
$break: 48em;

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFF;
  font-family: "proxima-nova", "Helvetica", "sans-serif";
	line-height: 150%;
	font-size: 17px;
  font-weight: normal;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 50em;
  min-height: 300px;
  width: 100%;

	@media screen and (min-width: $break) {
	  padding-top: 55px;
	  padding-left: 1em;
	  padding-right: 1em;
	}
}

h1 {
  font-size: 2em;
  line-height: 110%;
	margin-bottom: .5rem;
}

h2 {
  font-size: 1.7em;
  line-height: 110%;
	margin-bottom: .5rem;
}

h3 {
	font-size: 1.2em;
  line-height: 110%;
	margin-bottom: .5rem;
}

h4 {
	font-size: 1em;
  line-height: 110%;
	margin-bottom: .5rem;
}

p {
	margin: 0 0 1rem;

	@media screen and (min-width: $break) {
	  font-size: 20px;
		line-height: 150%;
	}
}

p + h1,
p + h2,
p + h3,
p + h4 {
	margin-top: 1.5rem;
}

a {
  color: $link-color;
	background-color: transparent;
	text-decoration: none;
	transition: box-shadow 0.1s ease-in-out;

  &:hover {
    color: $link-color;
		box-shadow: 0 2px $link-color;
  }
}

code {
  padding: 1em 2em;
  font-size: 13px;
  font-family: "Menlo",Inconsolata,"Fira Mono","Source Code Pro",monospace;
}

p > code {
  color: $link-color;
  padding: 0.2em;
  background: #f2f2f2;
  border: 1px solid #DDD;
  border-radius: 2px;
}

header {
	@media screen and (min-width: $break) {
		margin-bottom: 50px;
	}

  .site-header {
    letter-spacing: 2px;
    text-transform: uppercase;
		margin: 0;
  }

	h3,
	h4 {
		display: inline-block;
	}

  nav {
		display: inline-block;
  }

  a {
    color: $base-color;
		margin-right: 6px;
		margin-left: 6px;
  }
}

.posts {
  padding-left: 0px;
	margin: 0;
	padding-top: 40px;

  li {
    list-style-type: none;
    padding: 12px 0;
		border-bottom: 1px solid #F0F0F0;

    .post-title {
      text-transform: uppercase;
      font-weight: bold;
			font-size: 22px;
			padding-top: 19px;
			padding-bottom: 10px;
			margin: 0;

			a {
				text-decoration: none;
				color: $base-color;
			}

			a:hover {
				color: $link-color;
			}

			.date {
				font-weight: 600;
				font-size: 14px;
				padding-left: 5px;
				float: right;
				color: lighten($base-color, 30);

				@media screen and (max-width: $break) {
					display: none;
				}
			}
    }

		.post-excerpt {
			margin-top: 0;
			margin-bottom: 12px;

			p {
				margin: 0;
			}
		}

    .continue {
      text-align: center;
      margin-top: 40px;

      a {
        text-decoration: none;
      }
    }
  }
}

#post {
  margin-bottom: 50px;

  .date {
    color: lighten($base-color, 40);
  }
}
