/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  /*background: #f0fcff;*/
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

span {
  color: rgba(0,0,0,0.6);
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
  margin: 0;
  padding: 0;
  /*background: #2c3747;*/
  background: #2d3538;
  color: white;
}

.header .container {
  width: 650px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.header section.name {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  /*color: #444;*/
}

.header ul.menu {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  color: #acb3b5;
  /*color: #444;*/
}

.header ul.menu li {
  display: inline;
  padding-right: 15px;
}

.header ul.social {
  margin: -25px 0 0 0;
  padding: 0;
  padding-top: 2px;
  float: right;
}

.header ul.social li {
  display: inline
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}