---
---
// $base-color: #424242;
$base-color: #292929;
$link-color: #df2050;
$break: 44rem;

@font-face {
  font-family: "FiraCode";
  src: url('/assets/fonts/FiraCode-Regular.otf') format("opentype");
}

*,
*:after,
*:before { box-sizing: border-box; }

html,
body { height: 100%; }

body {
  padding-right: 1em;
  padding-left: 1em;
  font-family: "Lora", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: $base-color;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;

  @media screen and (min-width: $break) {
    font-size: 20px;
  }
}

.wide-body {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.wide-container {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;

  .header {
    padding-top: 16px;
    max-width: $break;
    margin: 0 auto;
  }

  .content {
    max-width: $break;
    margin: 0 auto;
    padding-right: 1em;
    padding-left: 1em;
  }

  .footer {
    max-width: $break;
    margin: 0 auto;
    padding-right: 1em;
    padding-left: 1em;
  }
}

.hero-image {
  background-position: center center;
  background-size: cover;
  margin-bottom: 2rem;

  .header a {
    color: white;

    &:hover { color: $link-color; }
  }

  @media screen and (min-width: $break) {
    margin-bottom: 5rem;
  }

  & > .title-wrapper {
    text-align: center;
    padding-top: 6rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    @media screen and (min-width: $break) {
      text-align: left;
      padding-top: 20rem;
      // padding-right: 4rem;
      padding-bottom: 4rem;
      // padding-left: 4rem;
      margin: 0 auto;
      max-width: $break;
    }
  }

  .title {
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 2rem;
    color: white;
    background-color: #2f2f2f;
    display: inline-block;

    @media screen and (min-width: $break) {
      font-size: 5rem;
    }
  }
}


.container {
  width: 100%;
  max-width: $break;
  min-height: 300px;
  margin: 0 auto;
}

* + * { margin-top: 1rem; }

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

h1 { font-size: 2.5rem;   }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem;   }

h1 { line-height: 1.2; }
h2 { line-height: 1.4; }

p,
.highlighter-rouge {
  + h1,
  + h2,
  + h3,
  + h4 {
    margin-top: 4rem;
    margin-bottom: 1.25rem;
  }
}

p {
  margin: 0 0 1.5rem;
  font-size: 1.3rem;
  line-height: 1.5;

  > a { box-shadow: 0 3px #CCCCCC; }

  > code {
    padding: 0.2em;
    color: $link-color;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
}

ul,
ol {
  padding: 0;
}


a {
  color: $base-color;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.1s ease;

  &:hover { color: $link-color; }
}

a > img {
  width: 100%;
  display: block;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43),
              0 5px 9px rgba(0, 0, 0, 0.4);
}

pre > code { display: block; }

code {
  font-family: "FiraCode", "Menlo", Inconsolata, "Fira Mono", "Source Code Pro", monospace;
  font-size: 0.9rem;
  font-feature-settings: "calt" 1;
  font-variant-ligatures: contextual;
  text-rendering: optimizeLegibility;
  line-height: 160%;
  overflow-x: auto;
  padding: 0.8rem 1.1rem;
  outline: none;
}

.highlighter-rouge { margin-bottom: 2.5rem; }

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2rem;
  font-size: 12px;

  @media (min-width: 42rem) {
    font-size: 16px;
  }
}

tr:nth-of-type(even) { background: #eee; }

th,
td {
  padding: 0.5rem;
  line-height: 1.42857143;
  text-align: left;
}

th {
  vertical-align: bottom;
}

thead > tr > th { border-bottom: 2px solid #ddd; }
tbody > tr > td { border-top: 1px solid #ddd; }

header {
  text-align: center;

  @media screen and (min-width: $break) {
    text-align: left;
  }

  .site-header {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    font-weight: 800;

    @media screen and (min-width: $break) {
      display: inline-block;
      font-size: 1.6rem;
    }
  }

  h3 {
    @media screen and (min-width: $break) {
      display: inline-block;
    }
  }

  h4 {
    margin-top: 0;

    &:not(:last-child) {
      padding-right: 1rem;
    }

    @media screen and (min-width: $break) {
      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }

  nav {
    margin-top: 0;
  }

	h4,
	nav { display: inline-block; }

  a {
    margin-right: 6px;
    margin-left: 6px;
    color: $base-color;
    font-weight: 300;
  }
}

aside {
  $color: lighten($base-color, 10);

  padding: 0.5em 1.25em;
  margin-bottom: 1em;
  font-weight: 700;
  color: $color;
  box-shadow: inset 0.5em 0 $color;

  > p { margin-bottom: 0; }
}

.talks {
  margin-top: 3rem;
  padding-left: 0;
  list-style: none;

  .talk {
    padding-bottom: 1em;
    display: flex;

    .date {
      flex: 0 0 4rem;
      font-size: 0.9rem;

      @media screen and (min-width: $break) {
        font-size: 1.1rem;
        flex: 0 0 5rem;
      }
    }

    .talk-title {
      font-size: 1.4rem;
      display: inline-block;
      padding-left: 0.4rem;
      margin-top: 0;

      @media screen and (min-width: $break) {
        padding-left: 1.3rem;
      }
    }
  }
}

.posts {
  padding-left: 0;
  list-style: none;

  .post {
    padding-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;

    + .post { margin-top: 2.2em; }
  }

  .post-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.3em;

    a {
      color: $base-color;
      text-decoration: none;

      &:hover { color: $link-color; }
    }
  }

  .date {
    margin-top: 0;
    font-size: 1rem;
    font-style: italic;
    color: lighten($base-color, 40);

    @media screen and (max-width: $break) { display: none; }
  }

  .post-excerpt {
    margin-top: 0.7rem;
    p { font-size: 1.1rem; }
  }
}

.date {
  display: inline-block;
  color: lighten($base-color, 40);
}

.twitter-share-button {
  margin-top: 1.5rem;
  float: right;
}

.post-body > ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.post-body > .title {
  text-align: left;
  margin-bottom: 5rem;
}

blockquote {
  box-shadow: inset 0.3rem 0 $base-color;
  margin-left: 0;

  @media screen and (min-width: $break) {
    box-shadow: inset 0.4rem 0 $base-color;
  }

  & > p {
    padding-left: 1rem;
    font-style: italic;

    @media screen and (min-width: $break) {
      padding-left: 1.3rem;
    }
  }
}

.rss-link {
  display: none;

  @media screen and (min-width: $break) {
    display: inline-block;
  }
}

.talk-content {
  .title {
    margin-bottom: 0;
    font-size: 3.2rem;
  }

  .given-on {
    font-weight: 300;
    font-size: 1.4rem;
  }

  .description {
    margin-top: 5rem;
  }
}
