<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <header class="header">
        <div class="container">
          <section class="name logo">
            <a href="/">
              {{ site.name|split:' '|first }}<b>{{ site.name|split:' '|last }}</b>
            </a>
          </section>
          <ul class="menu">
            <li>About</li>
            <li>Projects</li>
            <li>Contact</li>
          </ul>
          <ul class="social">
            <li>Github</li>
            <li>Twitter</li>
            <li>Linkedin</li>
          </ul>
        </div>
      </header>
      <section class="container content">
        {{ content }}
      </section>
      <footer class="footer">
        <span>Footer stuff goes here</span>
      </footer>
    </body>
</html>
