<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="author" content="Chris Keathley">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Words from Chris Keathley">
  <link rel="stylesheet" href="/css/main.css" media="screen">
  <link rel="stylesheet" href="/css/syntax.css" media="screen">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61635542-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="//use.typekit.net/ete4brv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <header class="header">
      <h3>
        <a href="/" class="site-header">
          Keathley
        </a>
      </h3>
      <nav>
        <h4>
          <a href="https://github.com/keathley">Github</a>
        </h4>
        <h4>
          <a href="https://twitter.com/chriskeathley">Twitter</a>
        </h4>
        <h4>
          <a href="http://keathley.github.io/feed.xml">RSS</a>
        </h4>
      </nav>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer class="footer">
      <h4 class="date">
        <a href="https://twitter.com/chriskeathley">@ChrisKeathley</a>
      </h4>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="ChrisKeathley">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </footer>
  </div>
</body>
</html>
